@model zadatak2.ViewModels.CompletedViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
</head>
<body>
    <h1>Completed Todos</h1>

    <br />
    @foreach (var todoModel in @Model.TodoModels)
    {
        <div>
            <b>@todoModel.Text</b> <br />
            @todoModel.DateCompleted <br/>
            <a asp-controller="Todo" asp-action="MarkAsCompleted" asp-route-itemGuid="@todoModel.ItemId">Remove from Completed</a>

            <br />
            <br />
            <br />
        </div>
    }
    
<a asp-controller="Todo" asp-action="Index">Back</a>

</body>
</html>
