@model zadatak2.ViewModels.CompletedViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
    <link rel="stylesheet" href="~/css/TodoStyle.css" />
</head>
<body>
<h1>Completed Todos</h1>
    
<p><a asp-controller="Todo" asp-action="Index">Back to active todos</a> </p>

<br />

@await Html.PartialAsync("ItemsPartial")
@Html.Partial("ItemsPartial")
@{
    Html.RenderPartial("ItemsPartial");
}
    
<a asp-controller="Todo" asp-action="Index">Back to active todos</a>

</body>
</html>
