@model zadatak2.ViewModels.IndexViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todo</title>
    <link rel="stylesheet" href="~/css/TodoStyle.css" />
</head>
<body>
<h1>Todo</h1>
<p><a asp-controller="Todo" asp-action="Add">Add new todo</a>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a asp-controller="Todo" asp-action="Completed">See completed todos</a>
</p>
<br/>

@await Html.PartialAsync("ItemsPartial")
@Html.Partial("ItemsPartial")
@{
    Html.RenderPartial("ItemsPartial");
}

</body>
</html>
